body {
  background:url("https://deih43ym53wif.cloudfront.net/travel-to-new-zealand-rough-guides_1436a026cc.jpeg") !important;
  background-repeat:no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100vw auto !important;
}

html {
  scroll-behavior: smooth !important;
}