img.home-landing{
  width:100vw;
}
.home-landing-container{
  height:fit-content;
  overflow:hidden;
}

.home-landing-text{
  padding: 10%;
  background: white;
}
.home-inner{
  display:flex;
  margin-bottom:50px;
}
.home-text{
  width:70%;
}
.home-icon{
  font-size:5rem;
  margin: 0 auto 0 auto;
  color:rgb(124, 180, 39);
}
.home-selection{
  padding-top:10%;
}
.single-forcast{
  margin-top:10%;
  flex-grow:1;
  min-width:100px;
  max-width:200px;
  margin-right:50px;
  background:rgba(255, 255, 255, 0.658);
  transition:500ms;
}
.all-forcasts{
  display:flex;
  flex-wrap: wrap;
}
.date{
  background:black;
  color:white;
  text-align:center;
}
.info{
  padding:10px;
}
.weather-main-container{
  padding:10%;
  padding-top:0;
}
.homeImage{
  height:300px;
  width:auto;
  max-width:100%;
}

.selectCity{
  display:flex;
  height:40px;
}

.dropdownSubmit{
  width:40%;
  background: lightblue !important;
}

.dropdownSubmit:hover{
  background:lightskyblue !important;
}

.searchBar{
  display:flex;
  height:40px;
}

.searchBar input{
  width:100%;
  padding-left:10px;
  border: 1px solid rgba(0, 0, 0, 0.158);
}

.searchBar .searchbarSubmit{
  width:40%;
  border: none;
  border-radius:5px;
  background: lightgreen;
}

.searchbarSubmit:hover{
  background: rgb(86, 211, 86);
  
}