img.home-landing{
  width:100vw;
}
.home-landing-container{
  height:50vh;
  overflow:hidden;
}

.home-landing-text{
  padding: 10%;
}
.home-inner{
  display:flex;
}
.home-text{
  width:70%;
}
.home-icon{
  font-size:5rem;
  margin: 0 auto 0 auto;
  color:rgb(124, 180, 39);
}
.home-selection{
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
}
.single-forcast{
  padding-top:10%;
  flex-grow:1;
  min-width:200px;
}
.all-forcasts{
  display:flex;
  flex-wrap: wrap;
}