.navbar {
  background: black;
  color: white;
  padding: 15px;
  width:100vw;
  position:fixed;
  top:0px;
  transition: 500ms;
  z-index:1;
}
.navbar-inner{
  display:flex;
}
.navbar-right{
  margin-left: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:10%;
}

.navbar-left{
  margin-left:10%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.navbar-link{
  padding-right:5%;
  padding-left:5%;
  color:white;
  text-decoration: none;
}

.navbar-brand{
  width:200px;
  font-size:2rem;
}

.show{
  opacity:1;
  top:0px;
  left:0px;
}
.hide{
  opacity:0;
  top:-100px;
  left:0px;
}